/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 2px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccccd6;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccccd6;
}

/* Corner */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

.ck-font-family {
  font-family: "Roboto", sans-serif;
}

.ck-color-white {
  color: #ffffff;
}
.color-black {
  color: #000000;
}
.ck-color-gray {
  color: #404040;
}
.ck-color-lightgray {
  color: #ccccd6;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .modal {
    left: 10x;
    top: 50px;
  }
}

.ck-logo {
  width: 116px;
  height: 32px;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .ck-logo {
    width: 57.93px;
    height: 16.55px;
    margin-bottom: 4px;
  }
}

.ck-cookie-bar {
  bottom: 0;
  left: 50%;
  height: 80px;
  display: flex;
  width: 1186px;
  position: fixed;
  padding: 16px 16px;
  align-items: center;
  background-color: #ffffff;
  transform: translateX(-50%);
  border-radius: 8px 8px 0px 0px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .ck-cookie-bar {
    width: 100%;
    height: 120px;
    justify-content: space-around;
  }
}
@media screen and (min-width: 720px) and (max-width: 1200px) {
  .ck-cookie-bar {
    width: 100%;
    height: 100px;
    justify-content: space-around;
  }
}
@media screen and (min-width: 600px) and (max-width: 720px) {
  .ck-cookie-bar {
    width: 100%;
    height: 20%;
    justify-content: space-around;
  }
}
.ck-cookie-paragraph {
  width: 706px;
  height: 32px;
  color: #404040;
  font-size: 14px;
  line-height: normal;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .ck-cookie-paragraph {
    width: 170px;
    height: 91px;
    font-size: 11px;
  }
}
@media screen and (min-width: 720px) and (max-width: 1200px) {
  .ck-cookie-paragraph {
    width: 100%;
    height: 50px;
    font-size: 13px;
  }
}
@media screen and (min-width: 600px) and (max-width: 720px) {
  .ck-cookie-paragraph {
    width: 100%;
    height: 60px;
    font-size: 11px;
  }
}

.ck-custom-botton {
  width: 200px;
  height: 48px;
  font-size: 14px;
  /* min-width: 200px; */
  border-radius: 8px;
  border: 1px solid #000000;
}

.ck-conf-btn {
  background-color: transparent;
}
.ck-rechazar-btn {
  background-color: transparent;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .ck-rechazar-btn {
    width: 110px;
    height: 36px;
    font-size: 11px;
  }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .ck-conf-btn {
    width: 110px;
    height: 36px;
    font-size: 11px;
  }
}

@media screen and (min-width: 600px) and (max-width: 720px) {
  .ck-conf-btn {
    width: 120px;
    height: 36px;
    font-size: 11px;
  }
}
.ck-accept-btn {
  margin-left: 20px;
  background: #000000;
  color: #ffffff;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .ck-accept-btn {
    width: 110px;
    height: 36px;
    font-size: 11px;
    margin-left: 0px;
    margin-top: 8px;
  }
}
@media screen and (min-width: 600px) and (max-width: 720px) {
  .ck-accept-btn {
    width: 120px;
    height: 36px;
    font-size: 11px;
  }
}

.ck-btn-container {
  margin-left: 30px;
  width: 416px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .ck-btn-container {
    width: 110px;
    height: 90px;
    font-size: 11px;
    flex-direction: column;
    margin-left: 8px;
  }
}
.ck-custom-modal-title {
  font-size: 20px;
  width: 338px;
  color: #404040;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .ck-custom-modal-title {
    font-size: 16px;
    width: 202px;
    height: 18px;
  }
}
.ck-custom-modal-content {
  padding: 24px;
  width: 562px;
  height: 424px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .ck-custom-modal-content {
    width: 100%;
    height: 392px;
    padding: 20px;
  }
}
.ck-custom-modal-header {
  padding: 0px 0px 10px 0px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .ck-custom-modal-header {
    flex-direction: column-reverse;
    align-items: start;
    padding: 0px 0px 9px 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .ck-custom-modal-header > h5 {
    margin-bottom: 0px;
  }
}

.modal-body {
  width: 514px;
  height: 376px;
  overflow-y: auto;
  margin: 0px;
  padding: 16px 16px 16px 0px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .modal-body {
    padding: 9px 0px 9px 0px;
    width: 100%;
    height: 392px;
    overflow-x: hidden;
  }
}
.modal-body > .ck-main-text {
  font-size: 14px;
  line-height: normal;
  color: #404040;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .modal-body > .ck-main-text {
    font-size: 11px;
  }
}
.ck-accordion {
  border: 1px solid #ccccd6;
  margin-top: 16px;
}

.ck-accordion-header {
  cursor: pointer;
}
.ck-accordion-header > div,
label {
  cursor: pointer;
}

.ck-accordion-header > .ck-coll {
  width: 100%;
}

.ck-accordion-header {
  font-size: 14px;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .ck-accordion-header {
    font-size: 11px;
    padding: 9px;
  }
}
.ck-accordion-body {
  font-size: 14px;
  padding: 16px;
  line-height: normal;
  color: #404040;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .ck-accordion-body {
    font-size: 11px;
    padding: 9px;
  }
}

.ck-siempre-label {
  width: max-content;
  color: #000000;
  font-weight: 500;
  padding-right: 8px;
}
.ck-arrow-icon {
  transform: rotate(180deg);
}

.ck-accord {
  transition: transform 0.2s ease;
}
.ck-switch {
  position: relative;
  width: 60px;
  height: 30px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .ck-switch {
    width: 45px;
    height: 25px;
  }
}

.ck-switch-input {
  display: none;
}

.ck-switch-label {
  width: 100%;
  height: 100%;
  background: #ccc; /* Default background color */
  border-radius: 15px; /* Rounded shape */
  display: block;
  cursor: pointer;
  position: absolute;
  transition: background 0.3s;
}

.ck-switch-input:checked + .ck-switch-label {
  background: black; /* Background color when checked */
}

.ck-switch-label::before {
  content: "";
  width: 26px;
  height: 26px;
  background: #ffffff; /* Ball color */
  border-radius: 50%; /* Rounded shape */
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.3s;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  /* Custom switch ball size for screens with a width of 320 pixels or less */
  .ck-switch-label::before {
    width: 21px; /* Updated ball size */
    height: 21px; /* Updated ball size */
  }
}

.ck-switch-input:checked + .ck-switch-label::before {
  left: 32px; /* Position of the ball when checked */
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .ck-switch-input:checked + .ck-switch-label::before {
    left: 22px; /* Position of the ball when checked */
  }
}

.ck-switch-arrow {
  display: flex;
  align-items: center;
}

.ck-switch-container {
  padding-right: 28px;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .ck-switch-container {
    padding-right: 23px;
  }
}
.ck-modal-btns {
  width: 418px;
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .ck-modal-btns {
    justify-content: space-around;
  }
}

.ck-guarder-btn {
  margin-left: 16px;
  background: #000000;
  color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .ck-guarder-btn {
    width: 110px;
    height: 36px;
    font-size: 11px;
    margin-left: 0px;
  }
}

.ck-modal-footer {
  padding: 16px 0px 0px 0px;
  margin: 0px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .ck-modal-footer {
    padding: 13px 0px 0px 0px;
  }
}
